<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%> 
  <body class=<%= className %>>
    <header> <h1><%= myHero %></h1></header>
          <%- include('partials/nav.ejs')%> 
          <%- include('partials/story.ejs')%>
  </body>
</html>
